--settings
${maven.multiModuleProjectDirectory}/.mvn/settings.xml
--batch-mode
--errors
--fail-at-end
--show-version
-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN
-Dorg.slf4j.simpleLogger.showDateTime=true
-Dorg.slf4j.simpleLogger.showThreadName=true
-Djava.awt.headless=true
-DinternalRepos=
# Maven Resolver: Deaktiviert _remote.repositories Tracking,
# damit lokal gecachte Artefakte ohne Netzwerkzugang nutzbar bleiben.
-Daether.enhancedLocalRepository.trackingFilename=_dummy_tracking_disabled
-Daether.remoteRepositoryFilter.prefixes=false
