<settings>
    <mirrors>
        <mirror>
            <id>allrepos</id>
            <name>allrepos</name>
            <url>https://repo-m.akdb.net/repository/allrepos</url>
            <mirrorOf>external:*,!redhat-ga-repository,!jboss-public-repository,${internalRepos}</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>libs-releases</id>
            <username>${env.nexus_a15_username}</username>
            <password>${env.nexus_a15_password}</password>
        </server>
        <server>
            <id>libs-snapshots</id>
            <username>${env.nexus_a15_username}</username>
            <password>${env.nexus_a15_password}</password>
        </server>
        <server>
            <id>gitlab-maven</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Job-Token</name>
                        <value>${CI_JOB_TOKEN}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>akdb</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>akdb</activeProfile>
    </activeProfiles>
    <proxies>
        <proxy>
            <id>akdb-proxy-http</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.akdb.net</host>
            <port>3128</port>
            <nonProxyHosts>*.akdb.net|git.akdb.de|local.net|192.168.99.*|172.*|172.*.*.*</nonProxyHosts>
        </proxy>
        <proxy>
            <id>akdb-proxy-https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>proxy.akdb.net</host>
            <port>3128</port>
            <nonProxyHosts>*.akdb.net|git.akdb.de|local.net|192.168.99.*|172.*|172.*.*.*</nonProxyHosts>
        </proxy>
    </proxies>
</settings>
