<?xml version="1.0" encoding="UTF-8"?>
<module name="com.github.wildfly.flyway" xmlns="urn:jboss:module:1.9">
    <resources>
        <artifact name="${com.github.wildfly.flyway:wildfly-flyway-subsystem}"/>
    </resources>
    <dependencies>
        <module name="java.sql"/>
        <module name="org.flywaydb.core"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.naming"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.vfs"/>
        <module name="org.wildfly.security.elytron"/>
        <module name="org.wildfly.common"/>
    </dependencies>
</module>