<?xml version="1.0" encoding="UTF-8"?>
<module name="org.flywaydb.database.mysql" xmlns="urn:jboss:module:1.9">
    <resources>
        <artifact name="${org.flywaydb:flyway-mysql}"/>
    </resources>
    <dependencies>
        <module name="java.sql"/>
        <module name="org.flywaydb.core" services="export"/>
    </dependencies>
</module>
