name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    name: Build with JDK 17
    
    steps:
    - name: Checkout wildfly-flyway
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Grant execute permission for mvnw
      run: chmod +x mvnw
      
    - name: Build without tests
      run: ./mvnw clean install -DskipTests -B -ntp

    - name: Run tests with debug output
      run: ./mvnw verify -B -ntp -X --fail-at-end
    
    - name: Upload test reports
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: test-reports-jdk-17
        path: |
          **/target/surefire-reports/
          **/target/failsafe-reports/
